@charset "UTF-8";

/* css général */

body    {
    	background-color: black; /* Le fond de la page sera noir */
        color: white; /* Le texte de la page sera blanc */
}
table {
	align-content: center;
} 

/* css actu.vue */

/* css alertes.vue */

#slider {
	margin: 0 auto;
	width: 600px;
	max-width: 100%;
	text-align: center;
}
#slider input[type=radio] {
	display: none;
}
#slider label {
	cursor: pointer;
	text-decoration: none;
}
#slides {
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 8px;
	background: #fff;
	position: relative;
}
#overflow {
	width: 100%;
	overflow: hidden;
}
#slide1:checked ~ #slides .inner {
	margin-left: 0;
}
#slide2:checked ~ #slides .inner {
	margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
	margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
	margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
	margin-left: -400%;
}
#slides .inner {
	-webkit-transform: translateZ(0);
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#slides .inner {
	width: 500%;
	line-height: 0;
	height: 80px;
}
#slides .slide {
	width: 20%;
	float: left;
	display: block;
	height: 100%;
	color: #FFFFFF;
}
#slides .slide {
	background-color: #d9534f;
}
#controls {
	margin: -90px 0 0 0;
	width: 100%;
	height: 30px;
	z-index: 3;
	position: relative;
}
#controls label {
  margin:-90px;
  transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.4;
}
#controls label:hover {
	opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url(http://www.withoutjs.com/assets/images/slider/next.png) no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}
#slide1:checked ~ #controls label:nth-child(5), 
#slide2:checked ~ #controls label:nth-child(1), 
#slide3:checked ~ #controls label:nth-child(2), 
#slide4:checked ~ #controls label:nth-child(3), 
#slide5:checked ~ #controls label:nth-child(4) {
	background: url(http://www.withoutjs.com/assets/images/slider/prev.png) no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}
#bullets {
	margin: 10px 0 0;
	text-align: center;
}
#bullets label {
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}
#slide1:checked ~ #bullets label:nth-child(1), 
#slide2:checked ~ #bullets label:nth-child(2), 
#slide3:checked ~ #bullets label:nth-child(3), 
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5) {
	background: #333;
}
/* responsive behaviour of controls */
@media screen and (max-width: 900px) {
	#slide1:checked ~ #controls label:nth-child(5), 
	#slide2:checked ~ #controls label:nth-child(1), 
	#slide3:checked ~ #controls label:nth-child(2), 
	#slide4:checked ~ #controls label:nth-child(3), 
	#slide5:checked ~ #controls label:nth-child(4) {
		margin: 0;
}
	#slide1:checked ~ #controls label:nth-child(2), 
	#slide2:checked ~ #controls label:nth-child(3), 
	#slide3:checked ~ #controls label:nth-child(4), 
	#slide4:checked ~ #controls label:nth-child(5), 
	#slide5:checked ~ #controls label:nth-child(1) {
		margin: 0;
}
}
/* end of responsive behaviour of controls */
							
/* css carte.vue */

/* css contact.vue */

/* css FAQ.vue */

.show-text, .hide-text {
	font-size: 0.75rem;
	padding-right: 0.25rem;
  }
  
  summary {
	background-color: #999;
	height: 2rem;
	display: flex; 
	align-items: center;
	cursor: pointer;
	padding-left: 0.5rem;
	color: white
  }
  
  details .content {
	display: block !important;
	border-top-width: 0;
	border: 1px solid #999;
	padding-left: .5rem;
	font-size: 1rem;
  }
 .collapse-block {
	/*display: none;*/
	border: 1px solid #ccc;
	padding-left: 1rem;
  
	transform: scaleY(0);
	transition: all 0.2s;
	transform-origin: 0 0;
	opacity: 0;
  
	font-size: 0;
	/*line-height: 0;*/
  }
  
  .collapse-state:checked + .collapse-button + .collapse-block {
	/*display: block;*/
	transform: scaleY(1);
	opacity: 1;
  
	/*line-height: 1.5;*/
	font-size: 1rem;
  }
  
  
  .collapse-state {
	display: none;
  }
  
  .collapse-state + .collapse-button {
	cursor: pointer;
	display: block;
	background-color: #999;
	padding: 0.5rem;
	color: white;
  }
  
  .collapse-state:selected {
	border: 1px solid red;
  }
  
  
  .collapse-state:not(:checked) + .collapse-button > .show-text {
	display: inline;
  }
  .collapse-state:not(:checked) + .collapse-button > .hide-text {
	display: none;
  }
  
  .collapse-state:checked + .collapse-button > .show-text {
	display: none;
  }
  .collapse-state:checked + .collapse-button > .hide-text {
	display: inline;
  }

/* css Home.vue */

/* css Nospartenaires.vue */

/* css Programme.vue */

/* css ConcertActuel.vue */